<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ru"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
    <!-- стили  страницы -->
	<link rel="stylesheet" href="css/demo-page.css" rel="stylesheet">
	<!-- стили модального окна -->
	<link rel="stylesheet" href="css/style-modal.css" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div style="text-align: center;">
		    <a href="#win1" class="button button-green">Обновить запись</a>
		</div>
        <a href="#x" class="overlay" id="win1"></a>
        <div class="popup">
            <h2>Запись обновлена!</h2>
			<a class="close" title="Закрыть" href="#close"></a>
        </div>
    </div>
</body>
</html>l>